#include "resource.h"

IDB_EDITDISABLED						BITMAP                "11000.bmp"
IDB_EDITACTIVE							BITMAP                "11001.bmp"
IDB_EDITHOVER							BITMAP                "11002.bmp"
IDB_EDIT								BITMAP                "11003.bmp"

IDB_SBTHUMBV							BITMAP				  "12201.bmp"
IDB_SBTHUMBVHOVER						BITMAP				  "12202.bmp"
IDB_SBTHUMBVACTIVE						BITMAP				  "12203.bmp"

IDB_SBLINEUPV							BITMAP				  "12204.bmp"
IDB_SBLINEUPVHOVER						BITMAP				  "12205.bmp"
IDB_SBLINEUPVACTIVE						BITMAP				  "12206.bmp"

IDB_SBLINEDOWNV							BITMAP				  "12207.bmp"
IDB_SBLINEDOWNVHOVER					BITMAP				  "12208.bmp"
IDB_SBLINEDOWNVACTIVE					BITMAP				  "12209.bmp"

IDB_SBGLYPHV							BITMAP				  "12210.bmp"
IDB_SBGLYPHVHOVER						BITMAP				  "12211.bmp"
IDB_SBGLYPHVACTIVE						BITMAP				  "12212.bmp"

IDB_EASEOFACCESS						BITMAP				  "12213.bmp"
IDB_KEYBOARD							BITMAP				  "12214.bmp"

IDB_SHUTDOWN							BITMAP				  "12215.bmp"
IDB_SHUTDOWNUPDATE						BITMAP				  "12216.bmp"
IDB_SHUTDOWNDROPDOWNGLYPH				BITMAP				  "12217.bmp"

IDB_USERTILEHOVER						BITMAP				  "12218.bmp"
IDB_USERTILEFOCUS						BITMAP				  "12219.bmp"
IDB_USERTILEFOCUSACTIVE					BITMAP				  "12220.bmp"
IDB_USERTILE							BITMAP				  "12222.bmp"
IDB_USERTILEHOVERHIGHDPI				BITMAP				  "12233.bmp"
IDB_USERTILEFOCUSHIGHDPI				BITMAP				  "12234.bmp"
IDB_USERTILEFOCUSACTIVEHIGHDPI			BITMAP				  "12235.bmp"
IDB_USERTILEHIGHDPI						BITMAP				  "12237.bmp"

IDB_USERTILELARGE						BITMAP				  "12223.BMP"
IDB_USERTILELARGEHIGHDPI				BITMAP				  "12238.BMP"

IDB_COMMANDLINK							BITMAP				  "12227.BMP"
IDB_COMMANDLINKFOCUS					BITMAP				  "12224.BMP"
IDB_COMMANDLINKHOVER					BITMAP				  "12225.BMP"
IDB_COMMANDLINKACTIVE					BITMAP				  "12226.BMP"

IDB_COMMANDLINKBGFOCUS					BITMAP				  "12228.bmp"
IDB_COMMANDLINKBGHOVER					BITMAP				  "12229.bmp"
IDB_COMMANDLINKBGACTIVE					BITMAP				  "12230.bmp"

IDB_GENERICBUTTON						BITMAP				  "12263.bmp"
IDB_GENERICBUTTONFOCUS					BITMAP				  "12259.bmp"
IDB_GENERICBUTTONHOVER					BITMAP				  "12260.bmp"
IDB_GENERICBUTTONFOCUSHOVER				BITMAP				  "12261.bmp"
IDB_GENERICBUTTONACTIVE					BITMAP				  "12262.bmp"

IDB_SUBMITVISTAHOVER					BITMAP				  "12274.bmp"
IDB_SUBMITVISTAACTIVE					BITMAP				  "12275.bmp"
IDB_SUBMITVISTA							BITMAP				  "12276.bmp"
IDB_SUBMITVISTAHOVERHIGHDPI				BITMAP				  "12277.bmp"
IDB_SUBMITVISTAACTIVEHIGHDPI			BITMAP				  "12278.bmp"
IDB_SUBMITVISTAHIGHDPI					BITMAP				  "12279.bmp"

IDB_SUBMITHOVER							BITMAP				  "12286.bmp"
IDB_SUBMITACTIVE						BITMAP				  "12287.bmp"
IDB_SUBMIT								BITMAP				  "12288.bmp"
IDB_SUBMITHOVERHIGHDPI					BITMAP				  "12289.bmp"
IDB_SUBMITACTIVEHIGHDPI					BITMAP				  "12290.bmp"
IDB_SUBMITHIGHDPI						BITMAP				  "12291.bmp"

IDB_SHUTDOWNBUTTON						BITMAP				  "12296.bmp"
IDB_SHUTDOWNBUTTONFOCUS					BITMAP				  "12293.bmp"
IDB_SHTUDOWNBUTTONHOVER					BITMAP				  "12294.bmp"
IDB_SHUTDOWNBUTTONFOCUSHOVER			BITMAP				  "12292.bmp"
IDB_SHUTDOWNBUTTONACTIVE				BITMAP				  "12295.bmp"

IDB_SHUTDOWNDROPDOWNBUTTON			    BITMAP				  "12302.bmp"
IDB_SHUTDOWNDROPDOWNBUTTONFOCUS		    BITMAP				  "12299.bmp"
IDB_SHTUDOWNDROPDOWNBUTTONHOVER		    BITMAP				  "12300.bmp"
IDB_SHUTDOWNDROPDOWNBUTTONFOCUSHOVER    BITMAP				  "12298.bmp"
IDB_SHUTDOWNDROPDOWNBUTTONACTIVE	    BITMAP				  "12301.bmp"
